<h2 class="mb"> Please insert the dates you're interested in! </h2>

<div>
  <form action="/book" method="get">
    <label for="start_date">Start date:</label>
    <input class="partial_container_length" type="date" name="start_date">
    <label for="end_date">End date:</label>
    <input class="partial_container_length" type="date" name="end_date">

    <input style="width:100%" class="btn btn-secondary" type="submit" value="Search">
  </form>
</div>

<div style = "margin-top: 3em">
  <% @venues.each do |venue| %>
  <dl>
    <dt><%= venue.name %></dt>
    <dd><%= venue.address %></dd>
    <dd>Price per night: £<%= venue.ppn %></dd>
    <dd><%= venue.description %></dd>
    <dd><% venue.availabilities.each do |availability| %></dd>
    <dd>Available from <%= availability.start_date.strftime("%d/%m/%Y") %>
      until <%= availability.end_date.strftime("%d/%m/%Y") %></dd>
      <% end %>
      <dd><a class="btn btn-secondary container_length mb" href=<%="/book/request"%>> Book this property </a>
      </dd>
    </dl>
    <% end %>
  </div>
