<div>
  <form action="/sessions" method="post">
    <input type="hidden" name="_method" value="delete">
    <input class="btn btn-dark container_length" type="submit" value="Log out">
  </form>
</div>

<div style = "margin: 3em">
  <h1>Welcome, <%= current_user.email %>!</h1>
</div>

<div class="mb">
  <form action="/book" method="get" class="mb">
    <input class="btn btn-secondary" style="width:100%" type="submit" name="Book" value="Book">
  </form>

  <form action="/list" method="get">
    <input class="btn btn-secondary" style="width:100%" type="submit" name="List" value="List">
  </form>
</div>

<h2> Your listed properties </h2>

<div>
  <% @venues.each do |venue| %>
  <dl>
    <dt><%= venue.name %></dt>
    <dd><%= venue.address %></dd>
    <dd>Price per night: £<%= venue.ppn %></dd>
    <dd><%= venue.description %></dd>
  </dl>
  <% end %>
</div>
